<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>XSS 页面</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <script src="http://start.spring.io/js/start.js"></script>
</head>
<body>
${jsCode} : <div th:text="${jsCode}"></div>
${htmlCode} : <div th:utext="${htmlCode}"></div>
</body>
</html>